* {
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-image: url("images/fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    font-family: "Poppins";  
}

nav{
    display: flex;
    justify-content: flex-end;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 60px;
}

nav li:first-child{
    margin-right: auto;    
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav a:hover{
    color: #dcdcdc;
}