* {
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    font-family: "Poppins";  
}

nav{
    display: flex;
    justify-content: flex-end;
}

nav ul{
    width: 100%;
    color: white;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 60px;

    text-decoration: none;
    
}

nav li:first-child{
    margin-right: auto;    
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav a:hover{
    color: white;
    
}


#sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 280px;
    background-color: white;
    backdrop-filter: blur(10px);

    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    z-index: 999;
}

.icon{
    fill: #fff;
}

.logotipo{
    font-weight: bold;
    font-size: 1.6rem;
    color: white;
}

.hideMobile{
    color: white;
}

.content{    
    display: flex;
    justify-content:center;
    align-items: center;
    height: 90vh;
    color: #fff;
    flex-direction: column;
    text-align: center;    
}

.content p{
    max-width: 400px;
}

.cima{

    margin-top: 0;
    background-color: green;
    width: 100%;

}


@media (max-width: 767px){
    
    .hideMobile{
        display: none;
    }
}

@media (min-width: 768px){

    .hideDesktop{
        display: none;
    }
    
}